.d-item{
    height: 100%;
}

.d-img{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    filter: brightness(0.6);
}

body{
    background-color: grey;
}



.content{
    width: 100%;
    height: 150px;
    background-image: url("img/patronC1.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

   
}

#about{
    background: #000000;   /*fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #000000, #0b0414);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #000000, #0b0414); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* #200f25d5 morado clarito */
}

.navbar-inner {
    background-color:transparent;
}



